<mat-tab-group>
  <mat-tab label="New Journey"
    ><app-timeline-form
      (timelineCreated)="selectedJourney.emit($event)"
    ></app-timeline-form>
  </mat-tab>
  <mat-tab *ngIf="journey | async" label="Edit Journey"
    ><app-timeline-edit
      [timeline]="journey | async"
      (timelineEdited)="selectedJourney.emit($event)"
    ></app-timeline-edit>
  </mat-tab>
  <mat-tab label="Journeys">
    <app-journeys
      (journeySelected)="selectedJourney.emit($event)"
      [journeyUpdated]="selectedJourney"
    ></app-journeys>
  </mat-tab>
  <!-- <mat-tab label="Export"> </mat-tab> -->
</mat-tab-group>
